body
{
}

footer {
    border: 3px solid #eee;
    border-radius: 5px;
    background-color: #eee;
}

footer img {
    width: 40px;
    height: 40px;
    transition: all 1s;
    margin-left: 6rem;
}

footer img:hover {
    transform: scale(1.1);
}

p {
    font-size: 24px;
}

.contain {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#float-left-circle {
    width: 100px;
    height: 100px;
    background: #fd4d3f;
    border-radius: 100px;
    bottom: 20%;
    left: 5%;
    position: absolute;
    transition-property: bottom;
    transition-duration: 2s;
}

#float-right-circle {
    width: 100px;
    height: 100px;
    background: #fd4d3f;
    border-radius: 100px;
    bottom: 80%;
    left: 90%;
    position: absolute;
    transition-property: bottom;
    transition-duration: 2s;
}