body
{
}

footer {
    border: 3px solid #eee;
    border-radius: 5px;
    background-color: #eee;
}

footer img {
    width: 40px;
    height: 40px;
    transition: all 1s;
    margin-left: 6rem;
}

footer img:hover {
    transform: scale(1.1);
}

p {
    font-size: 24px;
}

.contain {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}